<div class="container my-container bg-background-light">

  <div class="row top-row">
    <div class="col-0.5 p-2">
      <span class="fa fa-chevron-left fa-2x"></span>
    </div>
    <div class="col-4 top-col">
      John doe<br>
      19930101-1000
    </div>
    <div class="col-0.5 p-2 ml-auto">
      <span class="fa fa-battery-quarter fa-2x"></span>
    </div>
  </div>


  <div class="row my-row">
    <div class="col-2 p-4 my-col">
       <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Result">
    </div>
    <div class="col-4 p-4 my-col mr-auto">
      Andningsfrekvens
    </div>
    <div class="col-2 ml-auto p-4 my-col ">
       <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insert value">
    </div>
    <div class="col-1 p-3 my-col justify-content- ">
        <span class="fa fa-angle-double-down fa-2x"></span>
    </div>
    </div>

</div>
